



table { font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; font-size: 12px; margin: 45px; width: 550px;

    text-align: center; border-collapse: collapse; }



th { font-size: 13px; font-weight: normal; padding: 8px; background: #002933; border-top: 4px solid #002933;

    border-bottom: 1px solid #fff; color: #138496; }



td { padding: 8px; background: #e8edff; border-bottom: 1px solid #fff; color: #1389; border-top: 1px solid transparent; }



tr:hover td { background: #d0dafd; color: #002933; }



.editar {color: #138496; cursor:pointer;}



#contenedorForm {margin-left: 45px; font-size:12px;}



.boton {   color: black; padding: 5px; margin: 10px;

    background-color: #b9c9fe;

    font-weight: bold; }