

<section class="hero hero-normal">
  <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <!-- pequeña prueba -->
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Todos los departamentos</span>
                    </div>

                        <li><a (click)="setTxt('Boxeo')" [routerLink]="['/search',txt,page]">Boxeo</a></li>
                        <li><a (click)="setTxt('Moda y acesorios')" [routerLink]="['/search',txt,page]">Moda y acesorios</a></li>
                        <li><a (click)="setTxt('Informática')" [routerLink]="['/search',txt,page]">Informática</a></li>
                        <li><a (click)="setTxt('Imagen y sonido')" [routerLink]="['/search',txt,page]">Imagen y sonido</a></li>
                        <li><a (click)="setTxt('Deporte y ocio')" [routerLink]="['/search',txt,page]">Deporte y ocio</a></li>
                        <li><a (click)="setTxt('Hogar y jardin' )" [routerLink]="['/search',txt,page]">Hogar y jardin</a></li>
                        <li><a (click)="setTxt('Automóviles')" [routerLink]="['/search',txt,page]">Automóviles</a></li>
                        <li><a (click)="setTxt('Libros')" [routerLink]="['/search',txt,page]">Libros</a></li>
                        <li><a (click)="setTxt('Otros')" [routerLink]="['/search',txt,page]">Otros</a></li>

                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">

                      <input id="search" [(ngModel)]="txt" placeholder="Busque aquí" type="string">
                      <button type="submit" class="site-btn" (click)="reload()">BUSCAR</button>

                    </div>
                </div>

            </div>
        </div>
  </div>
</section>

