<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FlyVentas</title>
</head>
<body>
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-5">
        <div class="sidebar">
          <div class="sidebar__item">

          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-7">
        <div class="filter__item">
          <div class="row">
            <div class="col-lg-4 col-md-5">
              <!-- <div class="filter__sort">
                   <span>Ordenar por:</span>
                   <select>
                       <option value="0">Default</option>
                       <option value="0">Default</option>
                   </select>
               </div> -->
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="filter__found">
                <h6><span>{{Results}}</span> Encontrados</h6>
              </div>
            </div>
            <div class="col-lg-4 col-md-3">
              <div class="filter__option">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {{#Product}}
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
              <div class="product__item__pic set-bg">
                <img src="/Producto/{{id}}/image" />
              </div>
              <div class="product__item__text">
                <h6><a href="/Producto/{{id}}">{{title}}</a></h6>
                <h5>{{price}} €</h5>
              </div>
            </div>
          </div>
          {{/Product}}
          <!--    <div class="product__pagination">
                  <a href="#">1</a>
                  <a href="#">2</a>
                  <a href="#">3</a>
                  <a href="#"><i class="fa fa-long-arrow-right"></i></a>
              </div>-->
        </div>
      </div>
    </div>
  </div>

</section>
</body>
</html>
