<body>

<main class="bg-232323">
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="card mb-3 login">

              <div class="card-body">

                <div class="card-intro py-3">
                  <h5 class="upper-text text-center pb-0 fw-bold">Inicia sesión en tu cuenta</h5>
                </div>

                <form class="row g-3 needs-validation" novalidate>

                  <div class="col-12">
                    <label for="username" class="form-label">Usuario</label>
                    <div class="input-group has-validation">
                      <input #username type="text" name="username" class="form-control" id="username" required>
                      <div class="invalid-feedback">Introduce el usuario.</div>
                    </div>
                  </div>

                  <div class="col-12">
                    <label for="password" class="form-label">Contraseña</label>
                    <input #password type="password" name="password" class="form-control" id="password" required>
                    <div class="invalid-feedback">Introduce la contraseña.</div>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-login upper-text w-100" (click)="logIn($event, username.value, password.value)" type="submit">Iniciar sesión</button>
                  </div>


                  <div class="col-12 pt-2">
                    <p class="small mb-0 text-center">¿No tienes cuenta?</p>
                  </div>
                  <div class="col-12 mt-1">
                    <a class="button btn-login upper-text w-100" [routerLink]="['/register']">Registrarse</a>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>

    </section>

  </div>
</main><!-- End #main -->


</body>
