<customheader></customheader>
<br>

<!-- <input type="text">  esta linea es para el buscador-->
<br>
<!--categoria-->
<p>Nuestros departamentos! Prueba a echar un ojo;)</p>
<ul>
  <li><a href="/category/boxeo">Boxeo</a></li>
  <li><a href="/category/moda">Moda y acesorios</a></li>
  <li><a href="/category/informatica">Informática</a></li>
  <li><a href="/category/imagen">Imagen y sonido</a></li>
  <li><a href="/category/deporte">Deporte y ocio</a></li>
  <li><a href="/category/hogar">Hogar y jardin</a></li>
  <li><a href="/category/automóviles">Automóviles</a></li>
  <li><a href="/category/libros">Libros</a></li>
  <li><a href="/category/otros">Otros</a></li>
</ul>
<!--categoria-->


<customfooter></customfooter>
