<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <!-- pequeña prueba -->
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Todos los departamentos</span>
                    </div>
                    <ul>
                        <li><a href="/category/boxeo">Boxeo</a></li>
                        <li><a href="/category/moda">Moda y acesorios</a></li>
                        <li><a href="/category/informatica">Informática</a></li>
                        <li><a href="/category/imagen">Imagen y sonido</a></li>
                        <li><a href="/category/deporte">Deporte y ocio</a></li>
                        <li><a href="/category/hogar">Hogar y jardin</a></li>
                        <li><a href="/category/automoviles">Automóviles</a></li>
                        <li><a href="/category/libros">Libros</a></li>
                        <li><a href="/category/Otros">Otros</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="/busqueda" method="get">
                            <div class="hero__search__categories">
                                All
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input id="search" placeholder="Busque aquí" name="title">
                            <button type="submit" class="site-btn">BUSCAR</button>
                        </form>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</section>