{{>header}}
    <link rel="stylesheet" href="css/Faq.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> supportFL@FlyVentas.com</li>
                                <li>¡Empieza a vender hoy mismo!</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>                               
                            </div>
                            <div class="header__top__right__language">
                                <a href="Registro.html"><i class="fa fa-user"></i> Registarse</a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="login.html"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo-fondo-blanco-3.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="./contact.html">Contacto</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

   <div class="container"><!-- content Section begin -->

       <div class="row"><!-- pay method Section begin -->
        <div class="col-lg-12">

                <div class="section-title">
                    <h2>Seleccione método de pago</h2>
                </div>
         <div class="categorias metodosPagoCompra" id="categorias">
            <div class="categoria activa">
                <a><img src="img/logo_paypal.jpg"> </a>
                <p>Paypal</p>
            </div>
            <div class="categoria metodosPagoCompra">
                <a><img src="img/visaLogo.png"> </a>
                <p>VISA</p>
            </div>
            <div class="categoria metodosPagoCompra">
                <a><img src="img/appleLogo.png"> </a>
                <p>APPLE PAY</p>
            </div>
            <div class="categoria metodosPagoCompra">
                <a><img src="img/Gpay.jpg"> </a>
                <p>Google pay</p>
        </div>
       </div><!-- pay method Section End -->

       <hr color="#346cc0" />
 
       <div class="container"><!-- product selected Section begin -->
            <div class="row">
                <h2>Producto seleccionado</h2>
            </div>
            <div class="row">
                    <div class="col-lg-4 col-md-4" id="FotoProductoCompra">
                        <a><img src="img/blankprofile.png" alt=""></a>
                    </div>
                    
                    <div class="col-lg-8 col-md-8" id="descripcionCompra">
                           <p>Producto</p> 
                           <p>Información del producto</p> 
                    </div> 
            </div> 
       </div><!-- product selected Section End -->

       <hr color="#346cc0" />

       <div class="row"  id="precioCompra"><!-- final price Section begin -->
           <p>Precio final:</p>
       </div><!--final price Section End -->

       <hr color="#346cc0" />

       <div class="row" id="CajaBotonesCompra"><!-- button options Section begin -->
             <!--Reutilizamos los botones hechos para la pagina producto-->
             <div class="col-lg-6 col-md-6 botonesComprar">
                <button class="BotonProducto botonComprarProducto"> Comprar </button>
             </div>

             <div class="col-lg-6 col-md-6 botonesComprar">
                <button class="BotonProducto botonContraOfertaProducto"> Cancelar </button>
             </div>   
           
       </div><!-- button options Section End -->

    <br><br><br><br><br>
    
        </div>
   </div><!-- content Section End -->



{{>footer}}
    <script src="js/categorias.js"></script>
    <script src="js/preguntasFrecuentes.js"></script>



</body>

</html>