
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Flyventas">
    <meta name="keywords" content="Flyventas, segundamano, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlyVentas</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/Faq.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> supportFL@FlyVentas.com</li>
                                <li>¡Empieza a vender hoy mismo!</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>                               
                            </div>
                            <div class="header__top__right__language">
                                <a href="Registro.html"><i class="fa fa-user"></i> Registarse</a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="login.html"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo-fondo-blanco-3.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="./contact.html">Contacto</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

   <div class="container"><!-- content Section begin -->

       <div class="row"><!-- pay method Section begin -->
        <div class="col-lg-12">

                <div class="section-title">
                    <h2>Seleccione método de pago</h2>
                </div>
         <div class="categorias metodosPagoCompra" id="categorias">
            <div class="categoria activa">
                <a><img src="img/logo_paypal.jpg"> </a>
                <p>Paypal</p>
            </div>
            <div class="categoria metodosPagoCompra">
                <a><img src="img/visaLogo.png"> </a>
                <p>VISA</p>
            </div>
            <div class="categoria metodosPagoCompra">
                <a><img src="img/appleLogo.png"> </a>
                <p>APPLE PAY</p>
            </div>
            <div class="categoria metodosPagoCompra">
                <a><img src="img/Gpay.jpg"> </a>
                <p>Google pay</p>
        </div>
       </div><!-- pay method Section End -->

       <hr color="#346cc0" />
 
       <div class="container"><!-- product selected Section begin -->
            <div class="row">
                <h2>Producto seleccionado</h2>
            </div>
            <div class="row">
                    <div class="col-lg-4 col-md-4" id="FotoProductoCompra">
                        <a><img src="img/blankprofile.png" alt=""></a>
                    </div>
                    
                    <div class="col-lg-8 col-md-8" id="descripcionCompra">
                           <p>Producto</p> 
                           <p>Información del producto</p> 
                    </div> 
            </div> 
       </div><!-- product selected Section End -->

       <hr color="#346cc0" />

       <div class="row"  id="precioCompra"><!-- final price Section begin -->
           <p>Precio final:</p>
       </div><!--final price Section End -->

       <hr color="#346cc0" />

       <div class="row" id="CajaBotonesCompra"><!-- button options Section begin -->
             <!--Reutilizamos los botones hechos para la pagina producto-->
             <div class="col-lg-6 col-md-6 botonesComprar">
                <button class="BotonProducto botonComprarProducto"> Comprar </button>
             </div>

             <div class="col-lg-6 col-md-6 botonesComprar">
                <button class="BotonProducto botonContraOfertaProducto"> Cancelar </button>
             </div>   
           
       </div><!-- button options Section End -->

    <br><br><br><br><br>
    
        </div>
   </div><!-- content Section End -->



    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/LogoFlyventa.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Email: supportFL@FlyVentas.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Links de interés</h6>
                        <ul>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Home</a></li>
                        </ul>                      
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <p>Nuestras redes sociales:</p>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/categorias.js"></script>
    <script src="js/preguntasFrecuentes.js"></script>



</body>

</html>