{{>header}}

</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
{{>customheader}}
<!-- Header Section End -->



<!-- Hero Section Begin -->
{{>categories}}
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/buscadorbarraazul.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Algo ha ido mal...</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


<div class="col-lg-12 text-center">
    <br>
<h4>¡Vaya! Parece que ha habido un error.</h4>
    <br>
</div>


{{>footer}}



</body>

</html>