{{>header}}
    <link rel="stylesheet" href="/css/loginregister.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    

    <!-- Header Section Begin -->
    {{>customheader}}
    <!-- Header Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="form">

                        <ul class="tab-group">
                            <li class="tab"><a href="#login">Iniciar sesión</a></li>
                        </ul>
                      
                        <div class="tab-content">
                                              
                          <div id="login">
                            <h1>Bienvenido!</h1>                     
                            <form action="/login" method="post">
                              <div class="field-wrap">
                                <label>
                                    Dirección de Email<span class="req">*</span>
                                </label>
                                <input type="text" name="email"/>
                              </div>                     
                              <div class="field-wrap">
                                <label>
                                    Contraseña<span class="req">*</span>
                                </label>
                                <input type="password" name="password"/>
                              </div>                    
                              <p class="forgot"><a href="/register">¿No tienes una cuenta? Regístrate aquí</a></p>
                              <button type="submit" value="Sign In" class="button button-block" >Iniciar sesión</button>
                            </form>                     
                          </div>
                        </div><!-- tab-content -->
                      </div> <!-- /form -->
                </div>
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/Correos.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/Bannerflyventas.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->


{{>footer}}
    <script src="/js/loginyregistro.js"></script>



</body>

</html>