{{>header}}
    <link rel="stylesheet" href="css/loginregistro.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    

    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> supportFL@FlyVentas.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__language">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </div>
                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-instagram"></i></a>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo-fondo-blanco-3.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Home</a></li>
                            <li><a href="./contact.html">Contacto</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="form">

                        <ul class="tab-group">
                            <li class="tab"><a href="#login">Iniciar sesión</a></li>
                          <li class="tab active"><a href="#signup">Registrarse</a></li>
                          
                        </ul>
                      
                        <div class="tab-content">
                                              
                          <div id="login">
                            <h1>Bienvenido!</h1>                     
                            <form action="/" method="post">                      
                              <div class="field-wrap">
                                <label>
                                    Dirección de Email<span class="req">*</span>
                                </label>
                                <input type="email" required autocomplete="off" />
                              </div>                     
                              <div class="field-wrap">
                                <label>
                                    Contraseña<span class="req">*</span>
                                </label>
                                <input type="password" required autocomplete="off" />
                              </div>                    
                              <p class="forgot"><a href="#">¿Problemas de acceso??</a></p>                     
                              <button class="button button-block" >Iniciar sesión</button>
                                                   
                            </form>                     
                          </div>  
                          <div id="signup">
                            
                            <form action="/" method="post">                    
                              <div class="top-row">
                                <div class="field-wrap">
                                  <label>
                                    Nombre<span class="req">*</span>
                                  </label>
                                  <input type="text" required autocomplete="off" />
                                </div>                     
                                <div class="field-wrap">
                                  <label>
                                    Apellido<span class="req">*</span>
                                  </label>
                                  <input type="text" required autocomplete="off" />
                                </div>
                              </div>                  
                              <div class="field-wrap">
                                <label>
                                  Dirección de Email<span class="req">*</span>
                                </label>
                                <input type="email" required autocomplete="off" />
                              </div>                     
                              <div class="field-wrap">
                                <label>
                                  Contraseña<span class="req">*</span>
                                </label>
                                <input type="password" required autocomplete="off" />
                              </div>                     
                              <button type="submit" class="button button-block" >Registrarse</button>                     
                            </form>                   
                          </div>                    
                        </div><!-- tab-content -->                     
                      </div> <!-- /form -->
                </div>    
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/Correos.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/Bannerflyventas.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->


{{>footer}}
    <script src="js/loginyregistro.js"></script>



</body>

</html>