{{>header}}
<link rel="stylesheet" href="/css/Perfil.css" type="text/css">
<link rel="stylesheet" href="/css/tabla.css" type="text/css">
<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>


</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>



<!-- Header Section Begin -->
{{>customheader}}
<!-- Header Section End -->

<!-- Hero Section Begin -->
<section class="hero">
    <section class="featured spad">
        <div class="container">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Nombre Usuario</h2>
                </div>
                <div class="categorias" id="categorias">
                    <div class="categoria activa" data-categoria="todosAnuncios">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M512 32H64C28.65 32 0 60.65 0 96v320c0 35.35 28.65 64 64 64h448c35.35 0 64-28.65 64-64V96C576 60.65 547.3 32 512 32zM176 128c35.35 0 64 28.65 64 64s-28.65 64-64 64s-64-28.65-64-64S140.7 128 176 128zM272 384h-192C71.16 384 64 376.8 64 368C64 323.8 99.82 288 144 288h64c44.18 0 80 35.82 80 80C288 376.8 280.8 384 272 384zM496 320h-128C359.2 320 352 312.8 352 304S359.2 288 368 288h128C504.8 288 512 295.2 512 304S504.8 320 496 320zM496 256h-128C359.2 256 352 248.8 352 240S359.2 224 368 224h128C504.8 224 512 231.2 512 240S504.8 256 496 256zM496 192h-128C359.2 192 352 184.8 352 176S359.2 160 368 160h128C504.8 160 512 167.2 512 176S504.8 192 496 192z"/></svg>
                        <p>Todos los usuarios</p>
                    </div>
                    <div class="categoria" data-categoria="todosUsuarios">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M472.8 168.4C525.1 221.4 525.1 306.6 472.8 359.6L360.8 472.9C351.5 482.3 336.3 482.4 326.9 473.1C317.4 463.8 317.4 448.6 326.7 439.1L438.6 325.9C472.5 291.6 472.5 236.4 438.6 202.1L310.9 72.87C301.5 63.44 301.6 48.25 311.1 38.93C320.5 29.61 335.7 29.7 344.1 39.13L472.8 168.4zM.0003 229.5V80C.0003 53.49 21.49 32 48 32H197.5C214.5 32 230.7 38.74 242.7 50.75L410.7 218.7C435.7 243.7 435.7 284.3 410.7 309.3L277.3 442.7C252.3 467.7 211.7 467.7 186.7 442.7L18.75 274.7C6.743 262.7 0 246.5 0 229.5L.0003 229.5zM112 112C94.33 112 80 126.3 80 144C80 161.7 94.33 176 112 176C129.7 176 144 161.7 144 144C144 126.3 129.7 112 112 112z"/></svg>
                        <p>Todos los productos</p>
                    </div>

                </div>

                <div class="preguntas">

                    <!-- Mis datos -->
                    <div class="contenedor-preguntas activo" data-categoria="todosAnuncios">
                        <div class="contenedor-pregunta">
                            <table style="margin: 0 auto;">

                                <caption>Tus Productos</caption>
                                <tr>
                                    <th>Titulo</th>
                                    <th>Categoria</th>
                                    <th>Precio</th>
                                    <th>Descripcion</th>
                                    <th>Imagen</th>
                                    <th>Vendido</th>
                                    <th>Id Publica</th>
                                    <th>Opciones</th>
                                </tr>

                                {{#Product}}
                                <form action="/editado/{{id}}" method="post">
                                    <tr>
                                        <td>{{title}}</td>
                                        <td><{{category}}</td>
                                        <td>{{price}}</td>
                                        <td>{{description}}</td>
                                        <td>imagen</td>
                                        <td>{{isSold}}</td>
                                        <td>{{id}}</td>
                                        <td>
                                            <input type="submit" value="Editar"/>
                                        </td>
                                        <td>
                                            <input type="submit1" value="eliminar"/>
                                        </td>
                                    </tr>
                                </form>
                                {{/Product}}

                            </table>


                        </div>
                    </div>

                    <!-- Mis anuncios -->
                    <div class="contenedor-preguntas" data-categoria="todosUsuarios">
                        <div class="contenedor-pregunta">
                            <caption>Tus Productos</caption>
                            <tr>
                                <th>Titulo</th>
                                <th>Categoria</th>
                                <th>Precio</th>
                                <th>Descripcion</th>
                                <th>Imagen</th>
                                <th>Vendido</th>
                                <th>Id Publica</th>
                                <th>Opciones</th>
                            </tr>

                            {{#Users}}
                            <form action="/editado/{{id}}" method="post">
                                <tr>
                                    <td>{{title}}</td>
                                    <td><{{category}}</td>
                                    <td>{{price}}</td>
                                    <td>{{description}}</td>
                                    <td>imagen</td>
                                    <td>{{isSold}}</td>
                                    <td>{{id}}</td>
                                    <td>
                                        <input type="submit" value="Editar"/>
                                    </td>
                                    <td>
                                        <input type="submit1" value="eliminar"/>
                                    </td>
                                </tr>
                            </form>
                            {{/Users}}






                        </div>
                    </div>


                </div>
    </section>
    <div class="containerBoton"> <!-- button options Section begin -->
        <a href="/subirProducto" class="btn btn-primary btn-lg">Publica tu anuncio</a>
    </div>
</section>
<!-- Hero Section End -->



{{>footer}}
<script src="/js/categorias.js"></script>
<!-- <script src="js/preguntasFrecuentes.js"></script> -->
<script src="/js/tablaperfil.js"></script>




</body>

</html>