{{>header}}
    
</head>
<link rel="stylesheet" href="/css/loginregistro.css" type="text/css">
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    

    <!-- Header Section Begin -->
    {{>customheader}}
    <!-- Header Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="form">
                        <div id="boxButtonCheckInRegister">
                        <ul class="tab-group" align="center">
                          <li class="tab"><a href="#signup">Registrarse</a></li>
                        </ul>
                        </div>
                      
                        <div class="tab-content">
                          <div id="signup">
                            
                            <form action="/perfil" method="POST">                    
                              <div class="top-row">
                                <div class="field-wrap">
                                  <label>
                                    Nombre<span class="req">*</span>
                                  </label>
                                  <input type="text" required autocomplete="off" name='name'/>
                                </div>                     
                                <div class="field-wrap">
                                  <label>
                                    Apellido<span class="req">*</span>
                                  </label>
                                  <input type="text" required autocomplete="off" name='surname' />
                                </div>
                              </div>                  
                              <div class="field-wrap">
                                <label>
                                  Dirección de Email<span class="req">*</span>
                                </label>
                                <input type="email" required autocomplete="off" name='email'/>
                              </div>                     
                              <div class="field-wrap">
                                <label>
                                  Contraseña<span class="req">*</span>
                                </label>
                                <input type="password" required autocomplete="off" name='encodedPassword' />
                              </div>
                              <div class="top-row">
                                <div class="field-wrap">
                                  <label>
                                    Fecha de Nacimiento<span class="req">*</span>
                                  </label>
                                  <input type="date" required autocomplete="off" />
                                </div>                     
                                <div class="field-wrap">
                                  <label>
                                    Provincia<span class="req">*</span>
                                  </label>
                                  <input type="text" required autocomplete="off" />
                                </div>
                              </div>                  
                              <div class="field-wrap">
                                <label>
                                  Direccion<span class="req">*</span>
                                </label>
                                <input type="text" required autocomplete="off" name='address'/>
                              </div>                     
                              <div class="field-wrap">
                                <label>
                                  Código Postal<span class="req">*</span>
                                </label>
                                <input type="text" required autocomplete="off" />
                              </div>
                              <h4>Selecciona tres categorias de tu interés</h4>
                              <div class="field-wrap">
                                <div class="input-group">
                                    <select name='category1' type="text">

                                        <option selected> Moda y acesorios</option>
                                        <option> Informática</option>
                                        <option> Imagen y sonido</option>
                                        <option> Deporte y ocio</option>
                                        <option> Hogar y jardin</option>
                                        <option> Electrodomesticos</option>
                                        <option> Libros</option>
                                        <option> Cine y música</option>
                                        <option> Colecionismo</option>
                                        <option> Patinetes y bicicletas</option>
                                        <option>Tren</option>
                                        
                                    </select>
                                    
                                    <select name='category2' type="text">

                                        <option> Moda y acesorios</option>
                                        <option selected> Informática</option>
                                        <option> Imagen y sonido</option>
                                        <option> Deporte y ocio</option>
                                        <option> Hogar y jardin</option>
                                        <option> Electrodomesticos</option>
                                        <option> Libros</option>
                                        <option> Cine y música</option>
                                        <option> Colecionismo</option>
                                        <option> Patinetes y bicicletas</option>
                                        <option> Tren</option>
                                        
                                    </select>
                                    <select name='category3' type="text">

                                        <option> Moda y acesorios</option>
                                        <option> Informática</option>
                                        <option selected> Imagen y sonido</option>
                                        <option> Deporte y ocio</option>
                                        <option> Hogar y jardin</option>
                                        <option> Electrodomesticos</option>
                                        <option> Libros</option>
                                        <option> Cine y música</option>
                                        <option> Colecionismo</option>
                                        <option> Patinetes y bicicletas</option>
                                        <option> Tren</option>
                                    
                                    </select>
                                    
                                </div>
                              </div>
                                <p class="forgot"><a href="/login">¿Ya tienes una cuenta? Inicia sesión aquí</a></p>
                              <button type="submit" class="button button-block" >Registrarse</button>                     
                            </form>                   
                          </div>
                        </div><!-- tab-content -->                     
                      </div> <!-- /form -->
                </div>    
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/Correos.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="img/banner/Bannerflyventas.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->


{{>footer}}
    <script src="/js/loginyregistro.js"></script>



</body>

</html>