{{>header}}
    <link rel="stylesheet" href="/css/Perfil.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    

    <!-- Header Section Begin -->
    {{>customheader}}
    <!-- Header Section End -->

   
<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row"> 
            <div class="col-lg-12">
                <form action="/subirProducto" method="POST">
                    <div class="tituloSubirAnuncio">
                        <h1>Nuevo anuncio</h1>
                    </div>
                    <div class="field">
                        <label for="tituloSubirAnuncio">Título del Anuncio: </label><br>
                        <input type="text" name="name" id="tituloSubirAnuncio" placeholder="En pocas palabras..." required><br>
                    </div>
                    <div class="field">
                        <label >Categoría: </label><br>
                        <select type="text" name="category">
                            <option selected>Boxeo</option>
                            <option>Moda y Accesorios</option>
                            <option>Informática</option>
                            <option>Imagen y sonido</option>
                            <option>Deporte y ocio</option>
                            <option>Hogar y Jardín</option>
                            <option>Automóviles</option>
                            <option>Libros</option>
                            <option>Otros</option>
                        </select> <br>
                    </div>
                    <div class="textbox">
                        <label for="descripcionSubirAnuncio">Descripción: </label><br>
                        <textarea id="descripcionSubirAnuncio" type="text" name="description" placeholder="Añade información relevante como estado, modelo, color..." required></textarea>
                    </div>
                    <div class="field">
                        <label>Precio: </label><br>
                        <div class="row">
                            <div class="col-md-4">
                                <input type="number" name="price" maxlength="8" required>
                            </div>
                            <div class="col-md-1">
                                <a>€</a>
                            </div>
                        </div>
                    </div>
                    <div class="fieldFoto">
                        <label for="fotoAnuncio">Foto del producto: </label><br>
                        <input type="file" id="fotoAnuncio">
                        
                    </div>

                    <div class="col-lg-12 col-md-12" id="cajaCompra"> <!-- sale box begin -->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 botonesComprar">
                                <button type="submit" class="BotonProducto botonComprarProducto">Subir Anuncio</button>
                            </div>

                            <div class="col-lg-6 col-md-6 botonesComprar">
                                <button class="BotonProducto botonContraOfertaProducto">Cancelar</button>
                            </div>
                        </div>

                    </div> <!-- sale box end -->

                </form>
            </div>
        </div> 
    </div>
<!--    <section class="featured spad">-->
<!--        <div class="container">   -->
<!--            <div class="col-lg-12 col-md-12" id="cajaCompra"> &lt;!&ndash; sale box begin &ndash;&gt;-->
<!--                  <div class="row">-->
<!--                     <div class="col-lg-6 col-md-6 botonesComprar">-->
<!--                        <button type="submit" class="BotonProducto botonComprarProducto">Subir Anuncio</button>-->
<!--                     </div>-->

<!--                     <div class="col-lg-6 col-md-6 botonesComprar">-->
<!--                        <button class="BotonProducto botonContraOfertaProducto">Cancelar</button>-->
<!--                     </div>   -->
<!--                  </div>   -->

<!--            </div> &lt;!&ndash; sale box end &ndash;&gt;-->
<!--        </div>-->
<!--    </section>-->
</section>
<!-- Hero Section End -->



{{>footer}}
    <script src="/js/categorias.js"></script>
    <script src="/js/preguntasFrecuentes.js"></script>



</body>

</html>