<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FlyVentas</title>
</head>
<body>
<app-search-add></app-search-add>
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-5">
        <div class="sidebar">
          <div class="sidebar__item">

          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-7">
        <div class="filter__item">
          <div class="row">
            <div class="col-lg-4 col-md-5">
              <!-- <div class="filter__sort">
                   <span>Ordenar por:</span>
                   <select>
                       <option value="0">Default</option>
                       <option value="0">Default</option>
                   </select>
               </div> -->
            </div>
            <!--<div class="col-lg-4 col-md-4">
              <div class="filter__found">
                <h6><span></span> Encontrados</h6>
              </div>
            </div>-->
            <div class="col-lg-4 col-md-3">
              <div class="filter__option">
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let p of products">
            <div class="product__item">
              <div class="product__item__pic set-bg">
                <img [src]="productImage(p.id)"/>
              </div>
              <div class="product__item__text">
                <h6><a [routerLink]="['/product',p.id]" >{{p.title}}</a></h6>
                <h5>{{p.price}} €</h5>
              </div>
            </div>
          </div>

          <div class="product__pagination">
                  <button (click)="nextPage()" [routerLink]="['/search',txt,pag]">next page</button>
                  <button (click)="previusPage()" [routerLink]="['/search',txt,pag]">previous page</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
</body>
</html>
